In [1]:
from lionagi.os.collections.node.node import Node

In [2]:
# create 10 nodes
a, b, c = Node(), Node(), Node()

In [3]:
a.relate(b, "out")  # outgoing relation, a is head
a.relate(c, "in")  # incoming relation, a is tail

In [4]:
a.predecessors

['5240ac55a41124275ad07624746e96fa']

In [5]:
a.successors

['bbebb6af3efd4e0d5ea31c4c55f8c109']

In [6]:
for i in a.edges:
    print(i)

ln_id         04eab1dc3e5b23e638d222d4fa9991b4
created             2024-05-28T22:21:20.631450
metadata                                    {}
content                                   None
embedding                                   []
head          5240ac55a41124275ad07624746e96fa
tail          8b6362dd3dda7b0995ae4a3f6cc363e3
condition                                 None
label                                     None
bundle                                   False
lion_class                                Edge
dtype: object
ln_id         65766c94716374f3cb7d1fb3a88d1ddd
created             2024-05-28T22:21:20.631167
metadata                                    {}
content                                   None
embedding                                   []
head          8b6362dd3dda7b0995ae4a3f6cc363e3
tail          bbebb6af3efd4e0d5ea31c4c55f8c109
condition                                 None
label                                     None
bundle                                   False
lion_class                                Edge
dtype: object

In [7]:
a.related_nodes

['5240ac55a41124275ad07624746e96fa', 'bbebb6af3efd4e0d5ea31c4c55f8c109']

In [8]:
a.node_relations

{'out': {'bbebb6af3efd4e0d5ea31c4c55f8c109': [ln_id         65766c94716374f3cb7d1fb3a88d1ddd
   created             2024-05-28T22:21:20.631167
   metadata                                    {}
   content                                   None
   embedding                                   []
   head          8b6362dd3dda7b0995ae4a3f6cc363e3
   tail          bbebb6af3efd4e0d5ea31c4c55f8c109
   condition                                 None
   label                                     None
   bundle                                   False
   lion_class                                Edge
   dtype: object]},
 'in': {'5240ac55a41124275ad07624746e96fa': [ln_id         04eab1dc3e5b23e638d222d4fa9991b4
   created             2024-05-28T22:21:20.631450
   metadata                                    {}
   content                                   None
   embedding                                   []
   head          5240ac55a41124275ad07624746e96fa
   tail          8b6362dd3dda7b0995ae4a3f6cc363e3
   condition                                 None
   label                                     None
   bundle                                   False
   lion_class                                Edge
   dtype: object]}}

In [9]:
len(a.edges)

2

In [10]:
a.edges.to_df()

,ln_id,created,metadata,content,embedding,head,tail,condition,label,bundle,lion_class
0,04eab1dc3e5b23e638d222d4fa9991b4,2024-05-28T22:21:20.631450,{},None,[],5240ac55a41124275ad07624746e96fa,8b6362dd3dda7b0995ae4a3f6cc363e3,None,None,False,Edge
1,65766c94716374f3cb7d1fb3a88d1ddd,2024-05-28T22:21:20.631167,{},None,[],8b6362dd3dda7b0995ae4a3f6cc363e3,bbebb6af3efd4e0d5ea31c4c55f8c109,None,None,False,Edge

In [11]:
a.related_nodes

['5240ac55a41124275ad07624746e96fa', 'bbebb6af3efd4e0d5ea31c4c55f8c109']

In [12]:
a.edges.to_df()

,ln_id,created,metadata,content,embedding,head,tail,condition,label,bundle,lion_class
0,04eab1dc3e5b23e638d222d4fa9991b4,2024-05-28T22:21:20.631450,{},None,[],5240ac55a41124275ad07624746e96fa,8b6362dd3dda7b0995ae4a3f6cc363e3,None,None,False,Edge
1,65766c94716374f3cb7d1fb3a88d1ddd,2024-05-28T22:21:20.631167,{},None,[],8b6362dd3dda7b0995ae4a3f6cc363e3,bbebb6af3efd4e0d5ea31c4c55f8c109,None,None,False,Edge

In [13]:
a.relations["in"].to_df()

,ln_id,created,metadata,content,embedding,head,tail,condition,label,bundle,lion_class
0,04eab1dc3e5b23e638d222d4fa9991b4,2024-05-28T22:21:20.631450,{},None,[],5240ac55a41124275ad07624746e96fa,8b6362dd3dda7b0995ae4a3f6cc363e3,None,None,False,Edge

In [14]:
a.unrelate(b)

True

In [15]:
a.related_nodes

['5240ac55a41124275ad07624746e96fa']

In [16]:
a.edges.to_df()

,ln_id,created,metadata,content,embedding,head,tail,condition,label,bundle,lion_class
0,04eab1dc3e5b23e638d222d4fa9991b4,2024-05-28T22:21:20.631450,{},None,[],5240ac55a41124275ad07624746e96fa,8b6362dd3dda7b0995ae4a3f6cc363e3,None,None,False,Edge

In [17]:
a.node_relations

{'out': {},
 'in': {'5240ac55a41124275ad07624746e96fa': [ln_id         04eab1dc3e5b23e638d222d4fa9991b4
   created             2024-05-28T22:21:20.631450
   metadata                                    {}
   content                                   None
   embedding                                   []
   head          5240ac55a41124275ad07624746e96fa
   tail          8b6362dd3dda7b0995ae4a3f6cc363e3
   condition                                 None
   label                                     None
   bundle                                   False
   lion_class                                Edge
   dtype: object]}}

In [18]:
len(a.edges)

1

In [19]:
a.related_nodes

['5240ac55a41124275ad07624746e96fa']

In [20]:
print(a)

ln_id         8b6362dd3dda7b0995ae4a3f6cc363e3
created             2024-05-28T22:21:20.628162
metadata                                    {}
content                                   None
embedding                                   []
relations                               [1, 0]
lion_class                                Node
dtype: object